/* reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding: 70px 70px 24px 70px;
    background-image: url(./img/black-widow.webp);
    background-repeat: no-repeat;
    background-size:100%;
    color: #e7e7e7;
    font-family: 'Righteous', cursive;

}